<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
  <ion-button (click)="USBPrinterImage()">USB Printer Image</ion-button>
  <ion-button>USB Printer Image</ion-button>
  <ion-button (click)="printToUSBPrinter('printer_name', 'Hello, USB Printer!')">Print to USB Printer</ion-button>
  </div>
</ion-content>
